<p>
  <%= form.text_field :glip_url, :size => 60 %>
  <a href="https://Glip.com" target="_blank">Glip</a> webhook URL from the integrations panel. Leave empty to use <%= link_to 'global settings', plugin_settings_path(:redmine_glip) %>.<br />
</p>
